<!DOCTYPE html>

<head>
    <link rel="icon" href="/images/icon-modified.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <p>
        This is a NodeJS and ExpressJS based project which involves use of multiple elements like handlebars,partials,views and other intersting concepts.
        The projecct is mainly designed to familiarize the concepts of back end web-development.
        The npm packages used in this project are :
    </p>
    <ul>
        <li>express</li>
        <li>hbs</li>
        <li>request</li>
        <li>nodemon</li>
    </ul>
    <p> The core packages used in this project are :</p>
     <ul>
        <li>path</li>
    </ul>

    <p>Overall building this project has been a great learning experience and has definetly improved my skillsets and confidence to excel in back end web development and create more such fun & interesting projects.</p>

    </div>
    
    {{>footer}}
</body>
</html>