<!DOCTYPE html>
<head>
    <link rel="icon" href="/images/icon-modified.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help</title>
</head>
<body>
    <div class="main-content">
      {{>header}}

      Follow this Step-by-Step guide to use this website
      <ol type="1">
        <li>Make sure you are on the "Weather" page , if not click on the weather option in the navigation bar</li>
        <li>If you're interested in weather data for a particular city, type the name in the search box</li>
        <li>Click on the search button</li>
        <li>Enjoy the weather</li>
      </ol>
      <h3>NOTE:</h3>
      <p>Entering any special character or any numbers would lead to an error message</p>
    </div>
    

    {{>footer}}
</body>
</html>