<head>
    <title>404</title>
    <link rel="icon" href="/images/icon-modified.png">
</head>

<div class="main-content">
    {{>header}} {{!-- title got from the get request will be sent to the header --}}
    {{content}} {{!-- content got from the get request will be used here --}}
</div>

{{>footer}} {{!-- name got from the get request will be sent to the footer --}}